@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt&display=swap');/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}
body {
    background-color: #bbb;
    padding: 0;
    margin: 0;
}

/*header***************/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}
header {
    background-color: #fff;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.headings {
    display: flex;
    flex-direction: column;
    font-family: Lobster, sans-serif, 'Times New Roman';
}

.headings h1 {
    font-size: 50px;
    margin: 0 0 0 17px;
}


/* NAVIGATION********/

nav button {
    margin: .2rem 2%;
    background-color: #ccc;
    border: none;
    font-size: 1.6rem;
    display:flex;
    justify-content:flex-end;
}

nav {
    background-color: #ccc;
    font-family: Kanit, sans-serif, monospace;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:#536878;

}

nav ul li a {
    display: block;
    padding: .8rem 0px;
    text-decoration: none;
    border-bottom: solid #71797E;
    border-top: solid #71797E;
    color:white;

}

.one {
    background-color: pink;
    color: black;
}

nav ul li a:hover {
    background-color: green;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
nav .open {
    display: none;
}
span:nth-child(1){
    display:block;}
span:nth-child(2){
        display:none;
    }

.open span:nth-child(1){
    display:none;}
.open span:nth-child(2){
    display:block;}

div {
    margin-top:0px;
    text-align:center;
    font-size:21px;
    font-family:Lobster, sans-serif, 'Times New Roman';
    list-style-type: none;
}

.pop {
    margin-top:0px;
    text-align:center;
    font-size:21px;
    background-color:blue;
    font-family:Lobster, sans-serif, 'Times New Roman';
    overflow: auto;}
}

/***FOOTER***/


footer {
    background-color: #bed;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    font-family: Bitter, sans-serif, monospace;
    margin: 0;
    color: black;
    padding:0px;
}
footer img {
    height:200px;
}
footer .f {
    margin-bottom: 5px;
    font-size:20px;
    font-family: Lobster, 'sans-serif', 'Times New Roman';
}
footer q {
    margin-bottom:0px;
    
}
p {
    margin: 0;
    padding: 0;
}

/**********************CONTENT******/
.numbers {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width:1000px;
    margin:50px auto; }

.visit-us {
    border: 1px solid black;
    width:300px;
    margin:0 auto;
    background-color: #8C9BF5;
    
    
}
form fieldset {
    display:block;
    border: 1px solid black;
    margin: 2rem auto;
    padding: 1em 1.5em;
    width:650px;

}
form label.top, form div {
    display:block;
    padding:1rem 0;
    font-size:2rem;
}

form legend {
    color:#71797E;
    margin: 0 1rem;

}
form label.top, form div {
    display:block;
    padding:1rem 0;
    font-size:2rem;
}
fieldset input {
    display:block;
    font-size:1rem;
    padding:1rem;
    width:100%;
    max-width: 40rem;
    margin: 0 auto;
}
fieldset textarea {
    max-width:40rem;
    width:100%;
}

fieldset input.submitBtn {
    max-width:10rem;
    margin: 0 auto;

}

}
