
@media only screen and (min-width: 600px){
    nav {
        margin: 0 auto;
        font-family: Kanit, sans-serif, monospace;
        background-color: #536878;
    }
    main {
        margin: 20px auto;
        box-shadow: 0 0 30px black;
        text-align: center;
        padding: 50px 0 50px 0;
        font-family: Bitter, sans-serif, monospace;
    }
    .main1 {
        text-align: center;
        margin: 0px auto;
        
    }
    nav button {
        display:none;
    }
    nav ul.hide {
        display:block;
    }
    nav ul {
        margin-left:2%;
    }
    nav ul li {
        float:left;
    }
    nav ul li a {
        display: block;
        text-align:center;
        border:none;
        border-right:1px solid rgba(0,0,0,0.3);
        padding:.8rem 1.70rem  ;
    }
}